
artisan-2.10.4/.appveyor.yml
artisan-2.10.4/.ci/install-libusb.sh
artisan-2.10.4/.ci/install-linux.sh
artisan-2.10.4/.ci/install-macos.sh
artisan-2.10.4/.ci/install-win.bat
artisan-2.10.4/.ci/upload.sh
artisan-2.10.4/.coveragerc
artisan-2.10.4/.github/dependabot.yml
artisan-2.10.4/.github/ISSUE_TEMPLATE/bug_report.yml
artisan-2.10.4/.github/ISSUE_TEMPLATE/config.yml
artisan-2.10.4/.github/ISSUE_TEMPLATE/feature_request.md
artisan-2.10.4/.github/workflows/codespell.yml
artisan-2.10.4/.github/workflows/mypy.yml
artisan-2.10.4/.github/workflows/pylint.yaml
artisan-2.10.4/.github/workflows/pytest.yaml
artisan-2.10.4/.github/workflows/ruff.yaml
artisan-2.10.4/.pre-commit-config.yaml
artisan-2.10.4/CODE_OF_CONDUCT.md
artisan-2.10.4/CONTRIBUTING.md
artisan-2.10.4/doc/help_dialogs/Input_files/alarms.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/autosave.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/energy.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/eventannotations.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/eventbuttons.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/eventsliders.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/keyboardshortcuts.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/modbus.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/programs.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/s7.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/symbolic.xlsx
artisan-2.10.4/doc/help_dialogs/Input_files/transposer.xlsx
artisan-2.10.4/doc/help_dialogs/Output_html/__DoNotDelete__
artisan-2.10.4/doc/help_dialogs/Output_html/alarms_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/autosave_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/energy_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/eventannotations_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/eventbuttons_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/eventsliders_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/keyboardshortcuts_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/modbus_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/programs_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/s7_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/symbolic_help.html
artisan-2.10.4/doc/help_dialogs/Output_html/transposer_help.html
artisan-2.10.4/doc/help_dialogs/Script/xlsx_to_artisan_help.py
artisan-2.10.4/LICENSE
artisan-2.10.4/README.md
artisan-2.10.4/src/artisan-alog.xml
artisan-2.10.4/src/artisan-alrm.xml
artisan-2.10.4/src/artisan-apal.xml
artisan-2.10.4/src/artisan-AppImage.yml
artisan-2.10.4/src/artisan-aset.xml
artisan-2.10.4/src/artisan-athm.xml
artisan-2.10.4/src/artisan-linux.spec
artisan-2.10.4/src/artisan-mac.spec
artisan-2.10.4/src/artisan-wg.xml
artisan-2.10.4/src/artisan-win.spec
artisan-2.10.4/src/Artisan.entitlements
artisan-2.10.4/src/artisan.icns
artisan-2.10.4/src/artisan.ico
artisan-2.10.4/src/artisan.png
artisan-2.10.4/src/artisan.pro
artisan-2.10.4/src/artisan.py
artisan-2.10.4/src/artisanAlarms.icns
artisan-2.10.4/src/artisanAlarms.ico
artisan-2.10.4/src/artisanlib/__init__.py
artisan-2.10.4/src/artisanlib/acaia.py
artisan-2.10.4/src/artisanlib/aillio.py
artisan-2.10.4/src/artisanlib/alarms.py
artisan-2.10.4/src/artisanlib/arabic_reshaper.py
artisan-2.10.4/src/artisanlib/async_comm.py
artisan-2.10.4/src/artisanlib/autosave.py
artisan-2.10.4/src/artisanlib/axis.py
artisan-2.10.4/src/artisanlib/background.py
artisan-2.10.4/src/artisanlib/batches.py
artisan-2.10.4/src/artisanlib/ble.py
artisan-2.10.4/src/artisanlib/calculator.py
artisan-2.10.4/src/artisanlib/canvas.py
artisan-2.10.4/src/artisanlib/colors.py
artisan-2.10.4/src/artisanlib/comm.py
artisan-2.10.4/src/artisanlib/command_utility.py
artisan-2.10.4/src/artisanlib/comparator.py
artisan-2.10.4/src/artisanlib/cropster.py
artisan-2.10.4/src/artisanlib/cup_profile.py
artisan-2.10.4/src/artisanlib/curves.py
artisan-2.10.4/src/artisanlib/designer.py
artisan-2.10.4/src/artisanlib/devices.py
artisan-2.10.4/src/artisanlib/dialogs.py
artisan-2.10.4/src/artisanlib/event_button_style.py
artisan-2.10.4/src/artisanlib/events.py
artisan-2.10.4/src/artisanlib/filters.py
artisan-2.10.4/src/artisanlib/giesen.py
artisan-2.10.4/src/artisanlib/hottop.py
artisan-2.10.4/src/artisanlib/ikawa.py
artisan-2.10.4/src/artisanlib/kaleido.py
artisan-2.10.4/src/artisanlib/large_lcds.py
artisan-2.10.4/src/artisanlib/logs.py
artisan-2.10.4/src/artisanlib/loring.py
artisan-2.10.4/src/artisanlib/main.py
artisan-2.10.4/src/artisanlib/modbusport.py
artisan-2.10.4/src/artisanlib/notifications.py
artisan-2.10.4/src/artisanlib/petroncini.py
artisan-2.10.4/src/artisanlib/phases.py
artisan-2.10.4/src/artisanlib/phases_canvas.py
artisan-2.10.4/src/artisanlib/phidgets.py
artisan-2.10.4/src/artisanlib/pid.py
artisan-2.10.4/src/artisanlib/pid_control.py
artisan-2.10.4/src/artisanlib/pid_dialogs.py
artisan-2.10.4/src/artisanlib/platformdlg.py
artisan-2.10.4/src/artisanlib/ports.py
artisan-2.10.4/src/artisanlib/qcheckcombobox.py
artisan-2.10.4/src/artisanlib/qrcode.py
artisan-2.10.4/src/artisanlib/qtsingleapplication.py
artisan-2.10.4/src/artisanlib/roast_properties.py
artisan-2.10.4/src/artisanlib/roastlog.py
artisan-2.10.4/src/artisanlib/roastpath.py
artisan-2.10.4/src/artisanlib/rubasse.py
artisan-2.10.4/src/artisanlib/s7client.py
artisan-2.10.4/src/artisanlib/s7port.py
artisan-2.10.4/src/artisanlib/sampling.py
artisan-2.10.4/src/artisanlib/santoker.py
artisan-2.10.4/src/artisanlib/simulator.py
artisan-2.10.4/src/artisanlib/slider_style.py
artisan-2.10.4/src/artisanlib/statistics.py
artisan-2.10.4/src/artisanlib/suppress_errors.py
artisan-2.10.4/src/artisanlib/time.py
artisan-2.10.4/src/artisanlib/transposer.py
artisan-2.10.4/src/artisanlib/types.py
artisan-2.10.4/src/artisanlib/util.py
artisan-2.10.4/src/artisanlib/weblcds.py
artisan-2.10.4/src/artisanlib/wheels.py
artisan-2.10.4/src/artisanlib/widgets.py
artisan-2.10.4/src/artisanlib/wsport.py
artisan-2.10.4/src/artisanPalettes.icns
artisan-2.10.4/src/artisanPalettes.ico
artisan-2.10.4/src/artisanProfile.icns
artisan-2.10.4/src/artisanProfile.ico
artisan-2.10.4/src/artisanSettings.icns
artisan-2.10.4/src/artisanSettings.ico
artisan-2.10.4/src/artisanTheme.icns
artisan-2.10.4/src/artisanTheme.ico
artisan-2.10.4/src/artisanWheel.icns
artisan-2.10.4/src/artisanWheel.ico
artisan-2.10.4/src/build-derived-win.bat
artisan-2.10.4/src/build-derived.sh
artisan-2.10.4/src/build-linux-buster.sh
artisan-2.10.4/src/build-linux-pkg.sh
artisan-2.10.4/src/build-linux.sh
artisan-2.10.4/src/build-macos3-legacy.sh
artisan-2.10.4/src/build-macos3.sh
artisan-2.10.4/src/build-rpi-deb.sh
artisan-2.10.4/src/build-win3-pi.bat
artisan-2.10.4/src/Child.entitlements
artisan-2.10.4/src/conftest.py
artisan-2.10.4/src/coverage.svg
artisan-2.10.4/src/debian/DEBIAN/artisan.udev
artisan-2.10.4/src/debian/DEBIAN/control
artisan-2.10.4/src/debian/DEBIAN/postinst
artisan-2.10.4/src/debian/DEBIAN/prerm
artisan-2.10.4/src/debian/etc/udev/rules.d/99-artisan.rules
artisan-2.10.4/src/debian/usr/bin/artisan
artisan-2.10.4/src/debian/usr/share/applications/artisan.desktop
artisan-2.10.4/src/debian/usr/share/doc/artisan/changelog
artisan-2.10.4/src/debian/usr/share/doc/artisan/copyright
artisan-2.10.4/src/debian/usr/share/man/man1/artisan.1
artisan-2.10.4/src/debian/usr/share/pixmaps/artisan.png
artisan-2.10.4/src/help/__init__.py
artisan-2.10.4/src/help/alarms_help.py
artisan-2.10.4/src/help/autosave_help.py
artisan-2.10.4/src/help/energy_help.py
artisan-2.10.4/src/help/eventannotations_help.py
artisan-2.10.4/src/help/eventbuttons_help.py
artisan-2.10.4/src/help/eventsliders_help.py
artisan-2.10.4/src/help/keyboardshortcuts_help.py
artisan-2.10.4/src/help/modbus_help.py
artisan-2.10.4/src/help/programs_help.py
artisan-2.10.4/src/help/s7_help.py
artisan-2.10.4/src/help/symbolic_help.py
artisan-2.10.4/src/help/transposer_help.py
artisan-2.10.4/src/icons/artisanAlarms128.png
artisan-2.10.4/src/icons/artisanAlarms16.png
artisan-2.10.4/src/icons/artisanAlarms256.png
artisan-2.10.4/src/icons/artisanAlarms32.png
artisan-2.10.4/src/icons/artisanAlarms64.png
artisan-2.10.4/src/icons/artisanPalettes128.png
artisan-2.10.4/src/icons/artisanPalettes16.png
artisan-2.10.4/src/icons/artisanPalettes256.png
artisan-2.10.4/src/icons/artisanPalettes32.png
artisan-2.10.4/src/icons/artisanPalettes64.png
artisan-2.10.4/src/icons/artisanProfile128.png
artisan-2.10.4/src/icons/artisanProfile16.png
artisan-2.10.4/src/icons/artisanProfile256.png
artisan-2.10.4/src/icons/artisanProfile32.png
artisan-2.10.4/src/icons/artisanProfile64.png
artisan-2.10.4/src/icons/artisanSettings128.png
artisan-2.10.4/src/icons/artisanSettings16.png
artisan-2.10.4/src/icons/artisanSettings256.png
artisan-2.10.4/src/icons/artisanSettings32.png
artisan-2.10.4/src/icons/artisanSettings64.png
artisan-2.10.4/src/icons/artisanTheme128.png
artisan-2.10.4/src/icons/artisanTheme16.png
artisan-2.10.4/src/icons/artisanTheme24.png
artisan-2.10.4/src/icons/artisanTheme256.png
artisan-2.10.4/src/icons/artisanTheme32.png
artisan-2.10.4/src/icons/artisanTheme48.png
artisan-2.10.4/src/icons/artisanTheme64.png
artisan-2.10.4/src/icons/artisanTheme96.png
artisan-2.10.4/src/icons/artisanWheel128.png
artisan-2.10.4/src/icons/artisanWheel16.png
artisan-2.10.4/src/icons/artisanWheel256.png
artisan-2.10.4/src/icons/artisanWheel32.png
artisan-2.10.4/src/icons/artisanWheel64.png
artisan-2.10.4/src/includes/alarmclock.eot
artisan-2.10.4/src/includes/alarmclock.svg
artisan-2.10.4/src/includes/alarmclock.ttf
artisan-2.10.4/src/includes/alarmclock.woff
artisan-2.10.4/src/includes/android-chrome-192x192.png
artisan-2.10.4/src/includes/android-chrome-512x512.png
artisan-2.10.4/src/includes/apple-touch-icon.png
artisan-2.10.4/src/includes/artisan.tpl
artisan-2.10.4/src/includes/bigtext.js
artisan-2.10.4/src/includes/browserconfig.xml
artisan-2.10.4/src/includes/ComicNeue-Regular.ttf
artisan-2.10.4/src/includes/dijkstra.ttf
artisan-2.10.4/src/includes/favicon-16x16.png
artisan-2.10.4/src/includes/favicon-32x32.png
artisan-2.10.4/src/includes/favicon.ico
artisan-2.10.4/src/includes/Humor-Sans.ttf
artisan-2.10.4/src/includes/Icons/artisan-notification.png
artisan-2.10.4/src/includes/Icons/artisan-notification.svg
artisan-2.10.4/src/includes/Icons/artisan-trayicon-large.svg
artisan-2.10.4/src/includes/Icons/artisan-trayicon.svg
artisan-2.10.4/src/includes/Icons/plus-connected.png
artisan-2.10.4/src/includes/Icons/plus-connected.svg
artisan-2.10.4/src/includes/Icons/plus-connected_large.png
artisan-2.10.4/src/includes/Icons/plus-dirty.png
artisan-2.10.4/src/includes/Icons/plus-dirty.svg
artisan-2.10.4/src/includes/Icons/plus-dirty_large.png
artisan-2.10.4/src/includes/Icons/plus-home-low.png
artisan-2.10.4/src/includes/Icons/plus-home-low.svg
artisan-2.10.4/src/includes/Icons/plus-home-low_large.png
artisan-2.10.4/src/includes/Icons/plus-home-off.png
artisan-2.10.4/src/includes/Icons/plus-home-off.svg
artisan-2.10.4/src/includes/Icons/plus-home-off_large.png
artisan-2.10.4/src/includes/Icons/plus-home.png
artisan-2.10.4/src/includes/Icons/plus-home.svg
artisan-2.10.4/src/includes/Icons/plus-home_large.png
artisan-2.10.4/src/includes/Icons/plus-notification.png
artisan-2.10.4/src/includes/Icons/plus-notification.svg
artisan-2.10.4/src/includes/Icons/plus-off.png
artisan-2.10.4/src/includes/Icons/plus-off.svg
artisan-2.10.4/src/includes/Icons/plus-off_large.png
artisan-2.10.4/src/includes/Icons/plus-on.png
artisan-2.10.4/src/includes/Icons/plus-on.svg
artisan-2.10.4/src/includes/Icons/plus-on_large.png
artisan-2.10.4/src/includes/Icons/plus-pro-low.png
artisan-2.10.4/src/includes/Icons/plus-pro-low.svg
artisan-2.10.4/src/includes/Icons/plus-pro-low_large.png
artisan-2.10.4/src/includes/Icons/plus-pro-off.png
artisan-2.10.4/src/includes/Icons/plus-pro-off.svg
artisan-2.10.4/src/includes/Icons/plus-pro-off_large.png
artisan-2.10.4/src/includes/Icons/plus-pro.png
artisan-2.10.4/src/includes/Icons/plus-pro.svg
artisan-2.10.4/src/includes/Icons/plus-pro_large.png
artisan-2.10.4/src/includes/Icons/plus-unsynced.png
artisan-2.10.4/src/includes/Icons/plus-unsynced.svg
artisan-2.10.4/src/includes/Icons/plus-unsynced_large.png
artisan-2.10.4/src/includes/Icons/white_back.png
artisan-2.10.4/src/includes/Icons/white_back.svg
artisan-2.10.4/src/includes/Icons/white_back_large.png
artisan-2.10.4/src/includes/Icons/white_forward.png
artisan-2.10.4/src/includes/Icons/white_forward.svg
artisan-2.10.4/src/includes/Icons/white_forward_large.png
artisan-2.10.4/src/includes/Icons/white_home.png
artisan-2.10.4/src/includes/Icons/white_home.svg
artisan-2.10.4/src/includes/Icons/white_home_large.png
artisan-2.10.4/src/includes/Icons/white_move.png
artisan-2.10.4/src/includes/Icons/white_move.svg
artisan-2.10.4/src/includes/Icons/white_move_large.png
artisan-2.10.4/src/includes/Icons/white_plus-connected.png
artisan-2.10.4/src/includes/Icons/white_plus-connected.svg
artisan-2.10.4/src/includes/Icons/white_plus-connected_large.png
artisan-2.10.4/src/includes/Icons/white_plus-dirty.png
artisan-2.10.4/src/includes/Icons/white_plus-dirty.svg
artisan-2.10.4/src/includes/Icons/white_plus-dirty_large.png
artisan-2.10.4/src/includes/Icons/white_plus-home-low.png
artisan-2.10.4/src/includes/Icons/white_plus-home-low.svg
artisan-2.10.4/src/includes/Icons/white_plus-home-low_large.png
artisan-2.10.4/src/includes/Icons/white_plus-home-off.png
artisan-2.10.4/src/includes/Icons/white_plus-home-off.svg
artisan-2.10.4/src/includes/Icons/white_plus-home-off_large.png
artisan-2.10.4/src/includes/Icons/white_plus-home.png
artisan-2.10.4/src/includes/Icons/white_plus-home.svg
artisan-2.10.4/src/includes/Icons/white_plus-home_large.png
artisan-2.10.4/src/includes/Icons/white_plus-off.png
artisan-2.10.4/src/includes/Icons/white_plus-off.svg
artisan-2.10.4/src/includes/Icons/white_plus-off_large.png
artisan-2.10.4/src/includes/Icons/white_plus-on.png
artisan-2.10.4/src/includes/Icons/white_plus-on.svg
artisan-2.10.4/src/includes/Icons/white_plus-on_large.png
artisan-2.10.4/src/includes/Icons/white_plus-pro-low.png
artisan-2.10.4/src/includes/Icons/white_plus-pro-low.svg
artisan-2.10.4/src/includes/Icons/white_plus-pro-low_large.png
artisan-2.10.4/src/includes/Icons/white_plus-pro-off.png
artisan-2.10.4/src/includes/Icons/white_plus-pro-off.svg
artisan-2.10.4/src/includes/Icons/white_plus-pro-off_large.png
artisan-2.10.4/src/includes/Icons/white_plus-pro.png
artisan-2.10.4/src/includes/Icons/white_plus-pro.svg
artisan-2.10.4/src/includes/Icons/white_plus-pro_large.png
artisan-2.10.4/src/includes/Icons/white_plus-unsynced.png
artisan-2.10.4/src/includes/Icons/white_plus-unsynced.svg
artisan-2.10.4/src/includes/Icons/white_plus-unsynced_large.png
artisan-2.10.4/src/includes/Icons/white_qt4_editor_options.png
artisan-2.10.4/src/includes/Icons/white_qt4_editor_options.svg
artisan-2.10.4/src/includes/Icons/white_qt4_editor_options_large.png
artisan-2.10.4/src/includes/Icons/white_zoom_to_rect.png
artisan-2.10.4/src/includes/Icons/white_zoom_to_rect.svg
artisan-2.10.4/src/includes/Icons/white_zoom_to_rect_large.png
artisan-2.10.4/src/includes/jquery-1.11.1.min.js
artisan-2.10.4/src/includes/logging.yaml
artisan-2.10.4/src/includes/Machines/zero man/artisan-settings.aset
artisan-2.10.4/src/includes/mstile-150x150.png
artisan-2.10.4/src/includes/ranking-template.htm
artisan-2.10.4/src/includes/report-template.htm
artisan-2.10.4/src/includes/roast-template.htm
artisan-2.10.4/src/includes/safari-pinned-tab.svg
artisan-2.10.4/src/includes/site.webmanifest
artisan-2.10.4/src/includes/sorttable.js
artisan-2.10.4/src/includes/SourceHanSansCN-Regular.otf
artisan-2.10.4/src/includes/SourceHanSansHK-Regular.otf
artisan-2.10.4/src/includes/SourceHanSansJP-Regular.otf
artisan-2.10.4/src/includes/SourceHanSansKR-Regular.otf
artisan-2.10.4/src/includes/SourceHanSansTW-Regular.otf
artisan-2.10.4/src/includes/Themes/Artisan/Aillio.athm
artisan-2.10.4/src/includes/Themes/Artisan/Classic.athm
artisan-2.10.4/src/includes/Themes/Artisan/Clean.athm
artisan-2.10.4/src/includes/Themes/Artisan/Default.athm
artisan-2.10.4/src/includes/Themes/Artisan/Focus.athm
artisan-2.10.4/src/includes/Themes/Artisan/Midnight.athm
artisan-2.10.4/src/includes/Themes/Artisan/Twilight.athm
artisan-2.10.4/src/includes/Themes/Artisan/zero man.athm
artisan-2.10.4/src/includes/WenQuanYiZenHei-01.ttf
artisan-2.10.4/src/includes/WenQuanYiZenHeiMonoMedium.ttf
artisan-2.10.4/src/includes/xkcd-script.ttf
artisan-2.10.4/src/Info.plist
artisan-2.10.4/src/LICENSE
artisan-2.10.4/src/misc/KERNpython3.py
artisan-2.10.4/src/plus/__init__.py
artisan-2.10.4/src/plus/account.py
artisan-2.10.4/src/plus/blend.py
artisan-2.10.4/src/plus/config.py
artisan-2.10.4/src/plus/connection.py
artisan-2.10.4/src/plus/controller.py
artisan-2.10.4/src/plus/countries.py
artisan-2.10.4/src/plus/login.py
artisan-2.10.4/src/plus/notifications.py
artisan-2.10.4/src/plus/queue.py
artisan-2.10.4/src/plus/register.py
artisan-2.10.4/src/plus/roast.py
artisan-2.10.4/src/plus/stock.py
artisan-2.10.4/src/plus/sync.py
artisan-2.10.4/src/plus/util.py
artisan-2.10.4/src/proto/__init__.py
artisan-2.10.4/src/proto/IkawaCmd.proto
artisan-2.10.4/src/proto/IkawaCmd_pb2.py
artisan-2.10.4/src/proto/IkawaCmd_pb2.pyi
artisan-2.10.4/src/pylupdate6pro.py
artisan-2.10.4/src/pyproject.toml
artisan-2.10.4/src/qt-win.conf
artisan-2.10.4/src/qt.conf
artisan-2.10.4/src/raspbian/DEBIAN/control
artisan-2.10.4/src/README.txt
artisan-2.10.4/src/requirements-dev.txt
artisan-2.10.4/src/requirements.txt
artisan-2.10.4/src/setup-install3-pi.nsi
artisan-2.10.4/src/setup-macos3-legacy.py
artisan-2.10.4/src/setup-macos3.py
artisan-2.10.4/src/test/smoke/artisanlib/test_main.py
artisan-2.10.4/src/test/unitary/artisanlib/test_canvas.py
artisan-2.10.4/src/test/unitary/artisanlib/test_util.py
artisan-2.10.4/src/test/unitary/test_basic.py
artisan-2.10.4/src/translations/artisan_ar.qm
artisan-2.10.4/src/translations/artisan_ar.ts
artisan-2.10.4/src/translations/artisan_da.qm
artisan-2.10.4/src/translations/artisan_da.ts
artisan-2.10.4/src/translations/artisan_de.qm
artisan-2.10.4/src/translations/artisan_de.ts
artisan-2.10.4/src/translations/artisan_el.qm
artisan-2.10.4/src/translations/artisan_el.ts
artisan-2.10.4/src/translations/artisan_es.qm
artisan-2.10.4/src/translations/artisan_es.ts
artisan-2.10.4/src/translations/artisan_fa.qm
artisan-2.10.4/src/translations/artisan_fa.ts
artisan-2.10.4/src/translations/artisan_fi.qm
artisan-2.10.4/src/translations/artisan_fi.ts
artisan-2.10.4/src/translations/artisan_fr.qm
artisan-2.10.4/src/translations/artisan_fr.ts
artisan-2.10.4/src/translations/artisan_gd.qm
artisan-2.10.4/src/translations/artisan_gd.ts
artisan-2.10.4/src/translations/artisan_he.qm
artisan-2.10.4/src/translations/artisan_he.ts
artisan-2.10.4/src/translations/artisan_hu.qm
artisan-2.10.4/src/translations/artisan_hu.ts
artisan-2.10.4/src/translations/artisan_id.qm
artisan-2.10.4/src/translations/artisan_id.ts
artisan-2.10.4/src/translations/artisan_it.qm
artisan-2.10.4/src/translations/artisan_it.ts
artisan-2.10.4/src/translations/artisan_ja.qm
artisan-2.10.4/src/translations/artisan_ja.ts
artisan-2.10.4/src/translations/artisan_ko.qm
artisan-2.10.4/src/translations/artisan_ko.ts
artisan-2.10.4/src/translations/artisan_lv.qm
artisan-2.10.4/src/translations/artisan_lv.ts
artisan-2.10.4/src/translations/artisan_nl.qm
artisan-2.10.4/src/translations/artisan_nl.ts
artisan-2.10.4/src/translations/artisan_no.qm
artisan-2.10.4/src/translations/artisan_no.ts
artisan-2.10.4/src/translations/artisan_pl.qm
artisan-2.10.4/src/translations/artisan_pl.ts
artisan-2.10.4/src/translations/artisan_pt.qm
artisan-2.10.4/src/translations/artisan_pt.ts
artisan-2.10.4/src/translations/artisan_pt_BR.qm
artisan-2.10.4/src/translations/artisan_pt_BR.ts
artisan-2.10.4/src/translations/artisan_ru.qm
artisan-2.10.4/src/translations/artisan_ru.ts
artisan-2.10.4/src/translations/artisan_sk.qm
artisan-2.10.4/src/translations/artisan_sk.ts
artisan-2.10.4/src/translations/artisan_sv.qm
artisan-2.10.4/src/translations/artisan_sv.ts
artisan-2.10.4/src/translations/artisan_th.qm
artisan-2.10.4/src/translations/artisan_th.ts
artisan-2.10.4/src/translations/artisan_tr.qm
artisan-2.10.4/src/translations/artisan_tr.ts
artisan-2.10.4/src/translations/artisan_uk.qm
artisan-2.10.4/src/translations/artisan_uk.ts
artisan-2.10.4/src/translations/artisan_vi.qm
artisan-2.10.4/src/translations/artisan_vi.ts
artisan-2.10.4/src/translations/artisan_zh_CN.qm
artisan-2.10.4/src/translations/artisan_zh_CN.ts
artisan-2.10.4/src/translations/artisan_zh_TW.qm
artisan-2.10.4/src/translations/artisan_zh_TW.ts
artisan-2.10.4/src/translations/qtbase_el.qm
artisan-2.10.4/src/translations/qtbase_el.ts
artisan-2.10.4/src/translations/qtbase_pt.qm
artisan-2.10.4/src/translations/qtbase_pt.ts
artisan-2.10.4/src/translations/qtbase_sv.qm
artisan-2.10.4/src/translations/qtbase_sv.ts
artisan-2.10.4/src/ui/BlendDialog.ui
artisan-2.10.4/src/ui/EnergyWidget.ui
artisan-2.10.4/src/ui/MeasureDialog.ui
artisan-2.10.4/src/ui/SetupWidget.ui
artisan-2.10.4/src/ui/SliderCalculatorDialog.ui
artisan-2.10.4/src/uic/__init__.py
artisan-2.10.4/src/uic/BlendDialog.py
artisan-2.10.4/src/uic/EnergyWidget.py
artisan-2.10.4/src/uic/MeasureDialog.py
artisan-2.10.4/src/uic/SetupWidget.py
artisan-2.10.4/src/uic/SliderCalculatorDialog.py
artisan-2.10.4/src/version-metadata.yml
artisan-2.10.4/src/Wheels/Cupping/aroma.wg
artisan-2.10.4/src/Wheels/Cupping/flavor.wg
artisan-2.10.4/src/Wheels/Cupping/taste.wg
artisan-2.10.4/src/Wheels/Other/artisan.wg
artisan-2.10.4/src/Wheels/Other/coffeevarietals.wg
artisan-2.10.4/src/Wheels/Other/sweetmarias.wg
artisan-2.10.4/src/Wheels/Roasting/flavordefects.wg
artisan-2.10.4/src/Wheels/Roasting/phases.wg
artisan-2.10.4/wiki/Examples/Energy/EnergyExamples.zip
artisan-2.10.4/wiki/HowToBuildArtisan.md
artisan-2.10.4/wiki/HowToRunFromSource.md
artisan-2.10.4/wiki/Installation.md
artisan-2.10.4/wiki/ReleaseHistory.md
artisan-2.10.4/wiki/screenshots/artisan-0.7-small.png
artisan-2.10.4/wiki/screenshots/artisan-0.7.png
artisan-2.10.4/wiki/screenshots/artisan-cover-small.png
artisan-2.10.4/wiki/screenshots/artisan-cover.png
artisan-2.10.4/wiki/screenshots/artisan-cover2-small.png
artisan-2.10.4/wiki/screenshots/artisan-cover2.png
artisan-2.10.4/wiki/screenshots/artisan.png
artisan-2.10.4/wiki/screenshots/artisan_background_logo.png
artisan-2.10.4/wiki/screenshots/artisan_small.png
artisan-2.10.4/wiki/screenshots/bc-logo.jpg
artisan-2.10.4/wiki/screenshots/centos-sliders-small.png
artisan-2.10.4/wiki/screenshots/centos-sliders.png
artisan-2.10.4/wiki/screenshots/cms-logo.jpg
artisan-2.10.4/wiki/screenshots/facebook-square.svg
artisan-2.10.4/wiki/screenshots/FZ94-PID-small.png
artisan-2.10.4/wiki/screenshots/FZ94-PID.png
artisan-2.10.4/wiki/screenshots/high res banner_ad-1.gif
artisan-2.10.4/wiki/screenshots/instagram-square.svg
artisan-2.10.4/wiki/screenshots/linkedin-svgrepo-com.svg
artisan-2.10.4/wiki/screenshots/mac-curves-small.png
artisan-2.10.4/wiki/screenshots/mac-curves.png
artisan-2.10.4/wiki/screenshots/mac-designer-small.png
artisan-2.10.4/wiki/screenshots/mac-designer.png
artisan-2.10.4/wiki/screenshots/mac-roast-properties-small.png
artisan-2.10.4/wiki/screenshots/mac-roast-properties.png
artisan-2.10.4/wiki/screenshots/mastodon-icon-svgrepo-com.svg
artisan-2.10.4/wiki/screenshots/mastodon-svgrepo-com.svg
artisan-2.10.4/wiki/screenshots/paoloscimone-logo.jpg
artisan-2.10.4/wiki/screenshots/ROAST.jpg
artisan-2.10.4/wiki/screenshots/showroom-logo.png
artisan-2.10.4/wiki/screenshots/sweet-marias-logo.jpeg
artisan-2.10.4/wiki/screenshots/teaser.jpg
artisan-2.10.4/wiki/screenshots/twitter-svgrepo-com.svg
artisan-2.10.4/wiki/screenshots/ubuntu-curves-small.png
artisan-2.10.4/wiki/screenshots/ubuntu-curves.png
artisan-2.10.4/wiki/screenshots/win-cupping-small.png
artisan-2.10.4/wiki/screenshots/win-cupping.png
artisan-2.10.4/wiki/screenshots/win-wheel-small.png
artisan-2.10.4/wiki/screenshots/win-wheel.png
artisan-2.10.4/wiki/screenshots/youtube-svgrepo-com.svg
